@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body{
    background-color: #DDDDDD;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 3rem;
}

header{
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
}

header>h1{
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header> div >a{
    text-decoration: none;
    color: #333;
}


header div{
    width: 80vw;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header div a{
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
header div img{
    width: 25px;
    height: 25px;
    margin-left: 0.5rem;
}

.container > a {
    margin: 1rem 0;
    text-decoration: none;
    width: 10vw;
    background-color: #050C9C;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 0.5rem;
    box-shadow: 1px 1px 2px 1px #333;
    transition: background-color .3s ease-in;
}

.container a:hover {
    background-color: #01085b;
}
.form-box{
    background-color: #FFF;
    height: 100vh;
    border-radius: 15px;
    margin-bottom: 3rem;
    border-bottom-style: solid;
    border-bottom-color: rgba(181, 173, 173, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.grid{
    padding: 2em 0;
    background-color: #FFF;
    height: 100vh;
    border-radius: 15px;
    margin-bottom: 3rem;
    border-bottom-style: solid;
    border-bottom-color: rgba(181, 173, 173, 0.7);
    overflow-y: scroll;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* /* grid-template-rows: repeat(3,1fr);   */
}

.form-box > img{
    width: 10rem;
    height: 10rem;
}

.form-box > h3{
    font-weight: 500;
}


@media all and (max-width:800px) {
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Kanit", sans-serif;
    }

    body{
        height: 100vh;
        background-color: #DDDDDD;
        font-size: 16px;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        margin: 0 1rem;
    }
    
    header{
        background-color: #FFF;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 2rem;
        position: sticky;
        padding-top: 2rem;
        top: 0;
    }
    header > h1{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    header> div >a{
        text-decoration: none;
        color: #333;
    }
    header div{
        width: 100%;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header div a{
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    header div img{
        width: 25px;
        height: 25px;
        margin-left: 0.5rem;
    }
    
    .container a {
        width: 100%;
        margin: 1rem 0;
        text-decoration: none;
        background-color: #050C9C;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        padding: 0.5rem;
        box-shadow: 1px 1px 2px 1px #333;
        transition: background-color .3s ease-in;
    }
    .container a:active {
        background-color: #01085b;
    }
    
    .form-box{
        background-color: #FFF;
        /* height: 100vh; */
        border-radius: 15px;
        margin-bottom: 1rem;
        border-bottom-style: solid;
        border-bottom-color: rgba(181, 173, 173, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .grid{
        padding: 1em 0;
        background-color: #FFF;
        /* height: 100vh; */
        border-radius: 15px;
        margin-bottom: 3rem;
        border-bottom-style: solid;
        border-bottom-color: rgba(181, 173, 173, 0.7);
        overflow-y: scroll;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /* /* grid-template-rows: repeat(3,1fr);   */
    }
    
    .form-box > img{
        width: 10rem;
        height: 10rem;
    }
    
    .form-box > h3{
        font-weight: 500;
    }
    

}