.content_box{
    display: none;
}
.content_box.active{
    display: initial;
    /* animation: moving .5s linear; */
}
/* @keyframes moving{
    from{opacity: 0;}
    to{opacity: 1;}
    line.style.transition = "all .5s ease-in-out";
} */
.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #4B70F5;
    border-radius: 6px;
    transition: all .2s ease-in-out;
}
.linedropdown{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #4B70F5;
    border-radius: 6px;
    transition: all .2s ease-in-out;
}
.tab_box{
    position: relative;
}

@media all and (max-width:800px) {
    .content_box{
        display: none;
    }
    .content_box.active{
        display: initial;
    }
    .line{
        display: none;
    }
    .linedropdown{
        display: none;
    }
}