.content_box{
    display: none;
}
.content_box.active{
    display: initial;
    /* animation: moving .5s linear; */
}
/* @keyframes moving{
    from{opacity: 0;}
    to{opacity: 1;}
    line.style.transition = "all .5s ease-in-out";
} */
.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #4B70F5;
    border-radius: 6px;
    transition: all .2s ease-in-out;
}
.linedropdown{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #4B70F5;
    border-radius: 6px;
    transition: all .2s ease-in-out;
}
.tab_box{
    position: relative;
}
.tab_btn_pro.active{
    font-weight: bold;
    color:#399918;
    border-bottom: 3px solid #399918;
}
.tab_btn_pro{
    padding: 0.7em 0.5em;
    border-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F5F7F8;
    color: #9fa5b5;
    transform: color .3s ease-in-out;
    margin-bottom: 10px;
}
.tab_btn_pro:hover{
    color: #464646;
}
.tab_btn_pro.active:hover{
    color:#30990d;
}

@media all and (max-width:800px) {
    .content_box{
        display: none;
    }
    .content_box.active{
        display: initial;
    }
    .line{
        display: none;
    }
    .linedropdown{
        display: none;
    }
}